<div class="mainPage" style="background: #72A1BF 0% 0% no-repeat padding-box;">
    <button class="homeButton" 
    (click)="onHomeClicked()">
    <div class="homeButtonText">Home</div>
        
    </button>
  <div class="innerBox">
  </div>
<div class="row">
  <div class="fromRow">
      <div >
        <form (ngSubmit)="onSubmit()" #locationForm="ngForm">
          <div class="row">
              <div class="form-group">
                <label for="location" class="labelLocation">Location Name</label>
                <input type="text"  id="location"
                       required class="form-control formLocation"
                       [(ngModel)]="marker.location" name="location"
                       #location="ngModel">
              </div>
            
              <div class="form-group" >
                <label for="latitude" class="labelLatitude">Enter Latitude</label>
                <input type="text" id="latitude"
                       required class="form-control formLatitude"
                       [(ngModel)]="marker.latitude" name="latitude"
                       #latitude="ngModel">
              </div>
            
            
              <div class="form-group">
                <label for="longitude" class="labelLongitude">Enter Longitude</label>
                <input type="text"  id="longitude"
                       required class="form-control formLongitude"
                       [(ngModel)]="marker.longitude" name="longitude"
                       #longitude="ngModel">
              </div>
            
            
              
                <button type="submit" [ngClass]="[formButtonCss]">{{submitButtonTitle}}</button>
              
            
            <!---->
          </div>
        </form>
      </div>
    <!-- </div> -->
    <!-- <div class="row"> -->
      <!-- <div class="coordinates-col">
        <h1> All Coordinates</h1>
          <ul *ngFor="let location of Locations">
            <li>{{location.location}}&nbsp;&nbsp;&nbsp;&nbsp;{{location.longitude}}&nbsp;&nbsp;&nbsp;&nbsp;{{location.latitude}}</li>
          </ul>
          <button type="submit" class="btn btn-success" (click)="onShowRouteClicked()" >Show Route</button>
      </div> -->
    <!-- </div>
    <div class="row"> -->
      <!-- <div class="map-col">
        <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom">
          <agm-marker  *ngFor="let location of routeLocations; let i = index" [latitude]="location.latitude" [longitude]="location.longitude">
          </agm-marker>
          <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
            <agm-polyline-point
            *ngFor="let location of routeLocations; let i = index"
            [latitude]="location.latitude"
            [longitude]="location.longitude">

</agm-polyline-point>
</agm-polyline>
        </agm-map>
      </div> -->
    <!-- </div> -->
  </div>
  <div class="coordinates-col">
    <div class="allCoordinates"> All Co-ordinates:</div>
      <table class="tableLocation">
        <tr class="" *ngFor="let location of Locations;  let i = index">
          <td>{{i+1}}).{{location.location}}</td>
          <td class="tableLat">{{location.latitude}}</td>
          <td class="tableLng">{{location.longitude}}</td>
        </tr>
      </table>
      <button [ngClass]="[showRouteButtonCss]" [disabled]="disableShowRoutes" (click)="onShowRouteClicked()" >Show Route</button>
  </div>
  
  <div class="map-col">
    <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom">
      <agm-marker *ngFor="let location of Locations; let i = index" [latitude]="location.latitude" [longitude]="location.longitude">
      </agm-marker>
      <agm-polyline [visible]="polyLineVisible" [strokeWeight]="5" [strokeColor]="'#2E2E06'">
        <agm-polyline-point
        *ngFor="let location of Locations; let i = index"
        [latitude]="location.latitude"
        [longitude]="location.longitude">
  
  </agm-polyline-point>
  </agm-polyline>
    </agm-map>
  </div>
</div>

