.mainPage{
    position: absolute;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
background: #72A1BF 0% 0% no-repeat padding-box;
opacity: 1;
} 
.innerBox{
    position: absolute;
    top: 205px;
    left: 392px;
    width: 1137px;
    height: 670px;
    background: #074770 0% 0% no-repeat padding-box;
    border-radius: 36px;
    opacity: 1;
}
.homeButton{
    position: absolute;
    top: 29px;
left: 32px;
width: 84px;
height: 42px;
background: #f2fdff 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 0;

/* text-align: center;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #A0A3A5;
text-transform: uppercase;
opacity: 1; */
    
}
.homeButtonText{
    position: absolute;
    top: 12px;
left: 22px;
width: 40px;
height: 19px;
text-align: left;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #A0A3A5;
text-transform: uppercase;
opacity: 1;
}

.formRow{
    position: absolute;
    top: 205px;
left: 392px;
width: 1137px;
height: 670px;
background: #074770 0% 0% no-repeat padding-box;
border-radius: 36px;
opacity: 1;
}
.homeButton{
    position: absolute;
    top: 29px;
left: 32px;
width: 84px;
height: 42px;
border-radius: 4px;
border: 2px solid #A0A3A5;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #A0A3A5;
text-transform: uppercase;
opacity: 1;
}

.formBox{
    position:absolute;
    top: 205px;
    left: 392px;
    width: 1137px;
    height: 670px;
    background: #074770 0% 0% no-repeat padding-box;
    border-radius: 36px;
    opacity: 1;
}
.locationlabel{
    top: 245px;
left: 428px;
width: 93px;
height: 19px;
text-align: left;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #A5C0D1;
opacity: 1;
}

.labelLocation
{
    position: absolute;
    top: 245px;
left: 428px;
width: 93px;
height: 19px;
text-align: left;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #A5C0D1;
opacity: 1;
}

.labelLatitude{
    position: absolute;
    top: 245px;
left: 627px;
width: 91px;
height: 19px;
text-align: left;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #A5C0D1;
opacity: 1;
}
.allCoordinates{
    position: relative;
    top: 24px;
left: 36px;
width: 135px;
height: 19px;
text-align: left;
font: normal normal bold 14px/19px Segoe UI;
letter-spacing: 0px;
color: #123043;
text-transform: uppercase;
opacity: 1;
}

.tableLocation{
    position: absolute;
    top: 69px;
    left: 36px;
}
.tableLng
{
    position: absolute;
    text-align: left;
    font: normal normal 600 14px/19px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    left: 398px;
    width: 65px;
    height: 19px;
    
}
.tableLat{
    position: absolute;
    text-align: left;
    font: normal normal 600 14px/19px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    left: 280px;
    width: 64px;
    height: 19px;
}
.showRouteButtonWhite{
    position: absolute;
    top: 428px;
left: 36px;
width: 445px;
height: 42px;
background: #C6D1D9 0% 0% no-repeat padding-box;
border-radius: 21px;
opacity: 1;
}
.showRouteButtonBlue{
    position: absolute;
    top: 428px;
left: 36px;
width: 445px;
height: 42px;
background: #074770 0% 0% no-repeat padding-box;
border-radius: 21px;
opacity: 1;
text-align: center;
font: normal normal bold 14px/19px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.labelLongitude{
    position: absolute;
    top: 245px;
left: 767px;
width: 98px;
height: 19px;
text-align: left;
font: normal normal normal 14px/19px Segoe UI;
letter-spacing: 0px;
color: #A5C0D1;
opacity: 1;
}
/* .input{
    position: absolute;
    top: 272px;
left: 428px;
width: 179px;
height: 42px;

background: #074770 0% 0% no-repeat padding-box;
border-radius: 36px;
display:inline-flex;
opacity: 1;
} */
/* .input-row{
    position: relative;
    top: 67px;
left: 428px;
width: 179px;
height: 42px;
} */

.coordinates-col{
    position: absolute;
    top: 356px;
left: 392px;
width: 523px;
height: 519px;
background: #F2FAFF 0% 0% no-repeat padding-box;
border-radius: 0px 0px 0px 36px;
opacity: 1;
}

.map-col{
    position:absolute;
    top: 356px;
left: 915px;
width: 614px;
height: 519px;
background: transparent  white 0% 0% no-repeat padding-box;
border-radius: 0px 0px 36px 0px !important;
opacity: 1;
}

.onerow {
    display: inline-block;
}

agm-map{
    top: 356px;
left: 915px;
width: 614px;
height: 519px;
background: white 0% 0% no-repeat padding-box;
border-radius: 0px 0px 36px 0px !important;
opacity: 1;
}

.formSubmitButton{
    position: absolute;
    top: 264px;
left: 1288px;
width: 179px;
height: 42px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 21px;
opacity: 0.49;
color: teal;
}

.formAddButton{
    position: absolute;
    top: 264px;
left: 1288px;
width: 179px;
height: 42px;
text-align: center;
font: normal normal bold 14px/19px Segoe UI;
letter-spacing: 0px;
border-radius: 21px;
color: #074770;
opacity: 1;

}

.formLocation{
    position: absolute;
    top: 272px;
left: 428px;
width: 179px;
height: 42px;
background: #F2FAFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}

.formLatitude{
    position: absolute;
    top: 272px;
left: 627px;
width: 120px;
height: 42px;
background: #F2FAFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;

}

.formLongitude{
    position: absolute;

    top: 272px;
left: 767px;
width: 120px;
height: 42px;
background: #F2FAFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;

}